* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav-bar-con {
  background: linear-gradient(to right, #860101,#AD00FF);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper1 {
  display: flex;
  justify-content: center;
}

.searching-bar {
  display: flex;
  background: white;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
}

.all-cate {
  background: rgb(238, 238, 238);
  padding: 10px;
  border-radius: 30px;
}

.all-cate a {
  margin-right: 10px;
}

.search-input {
  outline: none;
  border: none;
  background: transparent;
  font-size: smaller;
}

.nav-bar-user a {
  color: white;
  text-decoration: none;
}

